body {
  width: 100%;
  background-color: aliceblue;
}


.banner1 {
  position: relative;
  background-color: aqua;
  width: 95%;

}

.banner1 h1 {
  position: relative;
  left: 5px;
}

.form1 li {
  text-decoration: underline;
  text-decoration-color: #2290da;
}
